* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #181918;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  max-width: 1920px;
}

section {
  height: 200vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10em;
  background-color: #242424;
  /* border-bottom: chartreuse solid 1px; */
  z-index: 1;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 1em;
}

a {
  display: block;
  color: #b8b8b8;
  text-align: center;
  padding: 1em;
  border-radius: 7%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: bold;
}

a:hover {
  background-color: #3a3a3a;
  color: #fff;
}
li.active a {
  border-radius: 0%;
  border-bottom: chartreuse 0.3em solid;
  background-color: #242424;
  color: chartreuse;
}

header {
  height: 100vh;
  background-image: url("./images/branch-5019381_1920.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
header > div {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
}

.logo h2 {
  position: relative;
  margin-top: 10rem;
  font-size: 10em;
  color: transparent;
  -webkit-text-stroke: 2px #555;
}

.logo h2::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(144, 171, 230);
  -webkit-text-stroke: 0px #555;
  border-right: 2px solid rgb(144, 171, 230);
  overflow: hidden;
  animation: logAnimate 5s linear infinite both,
    logoColors 35s linear infinite both;
}

@keyframes logAnimate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes logoColors {
  0%,
  100% {
    color: rgb(230, 144, 144);
    border-right: 2px solid rgb(230, 144, 144);
  }
  16.66% {
    color: rgb(230, 230, 144);
    border-right: 2px solid rgb(230, 230, 144);
  }
  33.33% {
    color: rgb(144, 230, 144);
    border-right: 2px solid rgb(144, 230, 144);
  }
  50% {
    color: rgb(144, 230, 230);
    border-right: 2px solid rgb(144, 230, 230);
  }
  66.66% {
    color: rgb(144, 144, 230);
    border-right: 2px solid rgb(144, 144, 230);
  }
  83.33% {
    color: rgb(230, 144, 230);
    border-right: 2px solid rgb(230, 144, 230);
  }
}
